@{
Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="login">
<head runat="server">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Login Page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="~/Scripts/Login/login.js"></script>
    <script src="~/Scripts/Login/login-service.js"></script>
    <script src="~/Scripts/Login/login-controller.js"></script>

</head>

<body>
    @*<div id="form1" runat="server" ng-controller="loginController">
    </div>*@
        <div  ng-app="login" runat="server" ng-controller="loginController">
            <div class="modal fade" id="detailsModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Please Fill all the Fields below</h3> &nbsp; &nbsp;
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form class="form-horizontal"  name="registrationForm"> @*role="form"*@
                                    <div class="form-group">
                                            <label for="firstName" class="col-sm-3 control-label">First Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" ng-model="viewModel.firstName" placeholder="First Name" ng-required="true" class="form-control" autofocus >
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="viewModel.lastName" placeholder="Last Name" class="form-control" autofocus required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="email" ng-model="viewModel.email" placeholder="Email" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-3 control-label">Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" ng-model="viewModel.passwrd" placeholder="Password" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ReEnter password" class="col-sm-3 control-label">ReEnter Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" ng-model="viewModel.ReEnterpassword" placeholder="ReEnter Password" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber" class="col-sm-3 control-label">Phone Number</label>
                                        <div class="col-sm-9">
                                            <input ng-model="viewModel.phoneNumber" placeholder="(###)-###-####" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                                        <div class="col-sm-9">
                                            <input type="date" ng-model="viewModel.birthDate" class="form-control" id="birthDate" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="gender" class="col-sm-3 control-label">Gender</label>
                                        <div class="col-sm-9">
                                            <select id="gender" class="form-control" ng-dropdown ng-model="viewModel.gender" required>
                                                <option value="" selected disabled hidden> -Select- </option>
                                                <option ng-option value="Male">Male</option>
                                                <option ng-option value="Female">Feamle</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="securityQuestion" class="col-sm-3 control-label">Security Question</label>
                                        <div class="col-sm-9">
                                            <select id="role" class="form-control" ng-dropdown ng-model="viewModel.securityQuestion" required>
                                                <option value="" selected disabled hidden> -Select- </option>
                                                <option ng-option value="What is your Mothers Maiden Name">What is your Mothers Maiden Name</option>
                                                <option ng-option value="What is your Favourite Movie Name">What is your Favourite Movie Name</option>
                                                <option ng-option value="What is your Best Friend Name">What is your Best Friend Name</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="securityAnswer" class="col-sm-3 control-label">Security Answer</label>
                                        <div class="col-sm-9">
                                            <input type="Text" ng-model="viewModel.securityAnswer" placeholder="Security Answer" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="addressLine1" class="col-sm-3 control-label" >Address Line-1</label>
                                        <div class="col-sm-9">
                                            <input  ng-model="viewModel.addressLine1" placeholder="Address Line-1" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="addressLine2" class="col-sm-3 control-label">Address Line-2</label>
                                        <div class="col-sm-9">
                                            <input  ng-model="viewModel.addressLine2" placeholder="Address Line-2" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="role" class="col-sm-3 control-label">Select Role</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-dropdown ng-model="viewModel.roleType" required>
                                                <option value="" selected disabled hidden> -Select- </option>
                                                <option ng-option value="1">Patient</option>
                                                <option ng-option value="2">Doctor</option>
                                                <option ng-option value="3">Administrator</option>
                                                <option ng-option value="4">Nurse</option>
                                                <option ng-option value="5" >Lab Incharge</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div ng-if="viewModel.roleType =='1'">
                                        <label for="patientType" class="col-sm-3 control-label">Patient Type</label>
                                        <div class="col-sm-9">
                                            <select id="role" class="form-control" ng-dropdown ng-model="viewModel.patientType" ng-required="true">
                                                <option value="" selected disabled hidden> -Select- </option>
                                                <option ng-option value="InPatient">In Patient</option>
                                                <option ng-option value="outPatient">Out Patient/Guest Patient</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div ng-if="viewModel.roleType =='2'" class="form-group">
                                        <label for="doctorDesignation" class="col-sm-3 control-label ">Dr. Designation</label>
                                        <div class="col-sm-9">
                                            <select id="doctorDesignation" class="form-control" ng-dropdown ng-model="viewModel.doctorDesignation" ng-required="true">
                                                <option value="" selected disabled hidden> -Select- </option>
                                                <option ng-option value="generalManager">General Manager</option>
                                                <option ng-option value="surgeon">Surgeon</option>
                                                <option ng-option value="senior">Senior</option>
                                                <option ng-option value="junior">Junior</option>
                                            </select>
                                        </div>
                                     </div>
                                        <div ng-if="viewModel.roleType =='2'" class="form-group">
                                            <label for="doctorDepartment" class="col-sm-3 control-label">Dr. Depatment</label>
                                            <div class="col-sm-9">
                                                <select id="doctorDepartment" class="form-control" ng-dropdown ng-model="viewModel.doctorDepartment" ng-required="true" >
                                                    <option value="" selected disabled hidden> -Select- </option>
                                                    <option ng-option value="radiologist">Radiologist</option>
                                                    <option ng-option value="orthopedics">Orthopedics</option>
                                                    <option ng-option value="dental">Detal</option>
                                                </select>
                                            </div>
                                        </div>

                                    <hr />
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"  required >I accept <a href="#">terms</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div> <!-- /.form-group -->
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <button type="submit" ng-click=" registrationForm.$valid  && registerButtonClick()" class="btn btn-primary btn-block"> Register</button>
                                        </div>
                                    </div>
                                    <div>
                                        <p ng-if="viewModel.displayRegistrationNumber" style="color: firebrick">{{viewModel.newRegistrationNumber}}</p>
                                    </div>
                                </form> <!-- /form -->
                            </div> <!-- ./container -->

                        </div>
                    </div>
                </div>
            </div> <!-- end of details modal -->
            </div>





    <div  align="center">
        <form    ng-app="login" runat="server" ng-controller="loginController"> @*ng-submit="loginButtonClick()"*@
            <h3><label ng-if="viewModel.displayTitle" style="color:navy">{{viewModel.title}}</label></h3>
            <div class="px-4 py-3">
                <div class="form-group">
                    <div>
                        <p ng-if="viewModel.displayError" style="color: red">{{viewModel.errorLabel}}</p>
                    </div>
                    <label>UserID</label>
                    <input class="form-control" ng-model="viewModel.loginUserName" type="number" maxlength="5" oninput="this.value=this.value.slice(0,this.maxLength)" placeholder="####" required />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" ng-model="viewModel.loginPassword" placeholder="******" required />
                </div>
                <div class="form-check">
                    @*<label class="form-check-label">
                            <input type="checkbox" class="form-check-input" />
                            Remember me
                        </label>*@
                </div>
                <button class="btn btn-primary" ng-click="loginButtonClick()" type="submit">Sign in</button> 
            </div>
            <div class="dropdown-divider"></div>
            <a href="" data-toggle="modal" data-target="#detailsModal">New around here? Sign up</a> &nbsp;&nbsp;&nbsp;
            <a href="" data-toggle="modal" data-target="#forgotPasswordModal">Forgot password?</a>
        </form>
   </div>

            <div id="forgotPasswordModal" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Enter EmailID Used For Account</h4> &nbsp; &nbsp;
                        </div>
                       
                        <div class="modal-body">
                            <form   ng-app="login" runat="server" ng-controller="loginController"> @*ng-submit="forgotUserPassword()"*@
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">EmailID</label>
                                    <input class="form-control" ng-model="viewModel.emailForgot" placeholder="EmailID" type="email" required />
                                </div>
                                <div class="form-group">
                                    <label for="role" class="col-sm-3 control-label">Select Role</label>
                                    <div class="col-sm-9">
                                        <select class="form-control"  ng-model="viewModel.roleType" required>
                                            <option ng-option value="2">Patient</option>
                                            <option ng-option value="3">Doctor</option>
                                            <option ng-option value="1">Administrator</option>
                                            <option ng-option value="4">Nurse</option>
                                            <option ng-option value="5">Lab Incharge</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-success " type="submit" ng-click="forgotPasswordEmailClick()">Submit</button>
                                <div>
                                    <p ng-if="viewModel.displayCheck" style="color: firebrick">{{viewModel.checkLabel}}</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
</body>

</html>

