
@model Models.AppointmentModel
@{
    ViewBag.Title = "View Doctors List";
}

@section ContentBreadCrumBar
    {
    <a class="glyphicon ">Nurse View DoctorsList</a>
}

<table>
    <tr>
        @using (Html.BeginForm("ViewPatientAppointments", "Nurse", FormMethod.Post, new { enctype = "multipart/form" }))
        {
            <td>&nbsp;&nbsp;@Html.DropDownListFor(i => i.paitent_ID, new SelectList(Model.dropDown, "Value", "Text"), "--Select--")</td>

            <td><input type="submit" value="Submit" /></td>
        }
    </tr>
</table>