@{
    ViewBag.Title = "Doctor Home";
}

@section ContentBreadCrumBar
{
    Doctor Home
}

@*@model IEnumerable<Models.NotificationsModel>*@

@*@if (Model != null)
{
    <div>
        @Html.Partial("_NotificationHome", Model)
    </div>
}*@
