
<div class=".navbar-fixed-left">
    <table style="background-color:#e0c976">
        <tr style="height: 25%">
            <td>
                <table>
                    <tr>
                        <td>
                            @Html.ActionLink("Home", "Index", "Administrator")
                        </td>
                        </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Manage Patients", "ViewPatients", "Administrator")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Manage Doctors", "ViewDoctors", "Administrator")
                        </td>
                    </tr>
                    <tr>
                        <td>
                           @Html.ActionLink("Manage Accounts", "ViewAccounts", "Email")
                        </td>
                    </tr>
                    </table>
                </td>
            </table>
</div>
