<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>Home Page</title>

    <link href="../../Scripts/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.10/angular-ui-router.min.js"></script>

</head>
<body>
    <form id="form1" runat="server" ng-controller="loginController">
        <!--Nav bar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" style="color:white">
                Hospital Managment System
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="../Login/Login.html">Login </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">About</a>
                    </li>
                </ul>
            </div>

            <div class="form-inline my-2 my-lg-0">
                <a class="active" style="color:white;margin-right:30px"><h4>Home</h4> <span style=""></span> </a>
            </div>
        </nav>

        <!--Body-->
        <fieldset>
            <!-- Name Section -->
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 style="text-align:center">Welcome to Home Page </h3>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>


        <!--footer-->
        <div class="footer fixed-bottom container-fluid bg-dark" style="height:5%">
            <div  style="text-align:center; color:white">
                © 2018 Copyright: <a href="https://www.karthiknanchari.com" style="color:white"> Karthik Nanchari </a>

            </div>
        </div>
    </form>
    <script src="../../Scripts/Bootstrap/jquery.min.js"></script>
    <script src="../../Scripts/Bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>