@model Models.ErrorModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        @*<h1>@Model.ErrorMessage</h1>*@
        <h2>An error occurred while processing your request. Go back and try again!</h2>
    </hgroup>
</body>
</html>
